<th:block th:include="@{my/_header.html}"/>
<script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/postcode.js}"></script>
<script type="text/javascript">
$(function(){
	$('.emailAuto').change(function(){
		let slc = $(this).val()
		$('input[name=email2]').val(slc);
	});
})
</script>
            <div class="info">
                <ul>
                    <span class="menu_else"></span>
                    <li th:classappend="${group} eq 'ordered'?'on':'off'">
                        <a th:href="@{/my/ordered?group=ordered}">전체주문내역</a>
                    </li>
                    <li th:classappend="${group} eq 'point'?'on':'off'">
                        <a th:href="@{/my/point?group=point}">포인트내역</a>
                    </li>
                    <li th:classappend="${group} eq 'coupon'?'on':'off'">
                        <a th:href="@{/my/coupon?group=coupon}">쿠폰</a>
                    </li>
                    <li th:classappend="${group} eq 'review'?'on':'off'">
                        <a th:href="@{/my/review?group=review}">나의리뷰</a>
                    </li>
                    <li th:classappend="${group} eq 'qna'?'on':'off'">
                        <a th:href="@{/my/qna?group=qna}">문의하기</a>
                    </li>
                    <li th:classappend="${group} eq 'info'?'on':'off'">
                        <a th:href="@{/my/info?group=info}">나의설정</a>
                </ul>
                <section>
                    <a th:href="@{#}">
                        <img th:src="@{/img/my_banner2.png}" alt="실적/한도 제한없는 스마일 카드 적립 혜택" class="banner">
                    </a>
                    <article>
                        <h3>회원정보 설정</h3>
                        <table border="0">
                            <tr>
                                <td>사용자 ID</td>
                                <td th:text="'****'+${user.uid.substring(4,user.uid.length)}"></td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td>
                                    <button id="btnChangePass">비밀번호 수정</button>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td>[[${user.name.charAt(0)+'*'+user.name.charAt(user.name.length-1)}]]</td>
                            </tr>
                            <tr>
                                <td>가입날</td>
                                <td>[[${user.rdate.substring(2, 10)}]]</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>
                                    <input type="text" name="email1" th:value="${user.email.substring(0, user.email.indexOf('@'))}">
                                    @
                                    <input type="text" name="email2" th:value="${user.email.substring(user.email.indexOf('@')+1, user.email.length)}">
                                    <select class="emailAuto">
                                        <option>직접입력</option>
                                        <option>naver.com</option>
                                        <option>daum.net</option>
                                        <option>gmail.com</option>
                                        <option>nate.com</option>
                                        <option>outlook.com</option>
                                    </select>
                                    <button id="btnChangeEmail">수정하기</button>
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <p class="hp">
                                        <input type="text" name="hp1" th:value="${user.hp.substring(0,3)}">
                                        -
                                        <input type="text" name="hp2" th:value="${user.hp.substring(4,8)}">
                                        -
                                        <input type="text" name="hp3" th:value="${user.hp.substring(9,13)}">
                                        <button id="btnChangeEmail">수정하기</button>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <div>
                                        <input type="text" name="zip" id="zip" th:value="${user.zip}" readonly>
                                        <button type="button" id="btnZip" onclick="postcode()">우편번호 찾기</button>
                                    </div>
                                    <div>
                                        <input type="text" name="addr1" id="addr1" size="50" th:value="${user.addr1}" style="margin: 3px 0px;" readonly>
                                    </div>
                                    <div>
                                        <input type="text" name="addr2" id="addr2" size="50" th:value="${user.addr2}" placeholder="상세주소를 입력하세요.">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>회원탈퇴</td>
                                <td>
                                    <button id="btnWithdraw">탈퇴하기</button>
                                </td>
                            </tr>
                        </table>
                        <button id="btnInfoChange">수정하기</button>
                    </article>
                </section>
            </div>
        </div>
<th:block th:include="@{my/_footer.html}"/>
    </div>
</body>
</html>