<th:block th:include="@{my/_header.html}"/>
            <div class="qna">
                <ul>
                    <span class="menu_else"></span>
                    <li class="on">
                        <a th:href="@{#}">전체주문내역</a>
                    </li>
                    <li>
                        <a th:href="@{#}">포인트내역</a>
                    </li>
                    <li>
                        <a th:href="@{#}">쿠폰</a>
                    </li>
                    <li>
                        <a th:href="@{#}">나의리뷰</a>
                    </li>
                    <li>
                        <a th:href="@{#}">문의하기</a>
                    </li>
                    <li>
                        <a th:href="@{#}">나의설정</a>
                    </li>
                </ul>
                <section>
                    <a th:href="@{#}">
                        <img th:src="@{/img/my_banner2.png}" alt="실적/한도 제한없는 스마일 카드 적립 혜택" class="banner">
                    </a>
                    <article>
                        <h3>문의하기</h3>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr th:each="article:${articles}">
                                <td class="no">[[${article.no}]]</td>
                                <td class="channel">고객센터</td>
                                <td class="type">[[${article.c1Name}]]</td>
                                <td class="tit">
                                    <a href="#">[[${article.title}]]</a>
                                </td>
                                <td class="date">[[${article.rdate.substring(2, 10)}]]</td>
                                <td class="status" th:if="${article.comment} eq 1">
                                    <span class="notAnswerYet">답변완료</span>
                                </td>
                                <td class="status" th:if="${article.comment} eq 0">
                                    <span class="notAnswerYet">검토중</span>
                                </td>
                            </tr>
                        </table>
                        <p class="page">
                            <a th:href="@{#}" class="prev">이전</a>
                            <a th:href="@{#}" class="num on">1</a>
                            <a th:href="@{#}" class="num">2</a>
                            <a th:href="@{#}" class="num">3</a>
                            <a th:href="@{#}" class="next">다음</a>
                        </p>
                    </article>
                </section>
            </div>
        </div>
<th:block th:include="@{my/_footer.html}"/>
    </div>
</body>
</html>